<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Free Billing - @ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Free Billing</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>&copy; 2024 Free Billing</footer>
</body>
</html>
