<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Free Billing - @ViewBag.Title</title>
</head>
<body>
    <header>Free Billing</header>
    <div>
        @RenderBody()
    </div>
    <footer>&copy; 2024 Free Billing</footer>
</body>
</html>
