@page
@model FreeBilling.Web.Pages.CustomerBillingModel
@{
}

@*
    // This is specific to development
*@

@section scripts
{
    <script type="module" src="http://localhost:5174/src/main.js"></script>
}

<div id="app"></div>