@page
@model FreeBilling.Web.Pages.IndexModel
@{
    var productName = "Free Billing Services";
    //throw new InvalidOperationException("Bad things happen to good developers.");
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@productName</title>
    </head>
    <body>
        <h1>@productName</h1>
        <p>@productName is a solution to billing for small companies and individuals</p>
    </body>
</html>
